@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
:root {
  --html-color: #e44e26;
  --css-color: #1b73ba;
  --js-color: #f6e017;
  --react-color: #00d9ff;
  --node-color: #6bc047;
  /* flip cards */
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #b7c9e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  text-decoration: none;
}
body {
  overflow: hidden;
}

/* header */
.nav-header {
  background: #191919;
  height: 14vh;
  width: 100%;
  /* max-width: 1700px; */
}
.nav-header ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding: 10px 30px;
}

.nav-header .list {
  margin: 60px 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.nav-header #title {
  margin-right: auto;
  margin-top: 35px;
  font-size: 50px;
}

.nav-header a {
  color: white;
  text-decoration: none;
}

/* main section */
.main-container {
  position: relative;
  background: #262729;
  color: white;
  height: 75vh;
}

.left span {
  position: relative;
  width: 100vw;
}

span {
  font-size: 14px;
  color: white;
  font-weight: 700;
  overflow: hidden;
  text-transform: uppercase;
}
/* html */
#html:before {
  width: 0;
  color: var(--html-color);
  overflow: hidden;
  font-weight: 700;
  position: absolute;
  content: attr(data-text);
  transition: all 0.9s;
}

#html:hover:before {
  width: 94%;
}
/* css */
#css:before {
  width: 0;
  color: var(--css-color);
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 0.3s;
}

#css:hover:before {
  width: 100%;
}

/* js */
#js:before {
  width: 0;
  color: var(--js-color);
  overflow: hidden;

  position: absolute;
  content: attr(data-text);
  transition: all 0.3s;
}

#js:hover:before {
  width: 100%;
}
/* react */
#react:before {
  width: 0;
  color: var(--react-color);
  overflow: hidden;

  position: absolute;
  content: attr(data-text);
  transition: all 0.3s;
}

#react:hover:before {
  width: 100%;
}

/* NODE */
#node:before {
  width: 0;
  color: var(--node-color);
  overflow: hidden;

  position: absolute;
  content: attr(data-text);
  transition: all 0.3s;
}

#node:hover:before {
  width: 100%;
}

.intro {
  display: grid;
  grid-template-columns: minmax(700px, auto) minmax(700px, auto);
  height: 73vh;
  width: 100%;
  padding: 0px 60px;
  /* background-color: red; */
}
.intro h1 {
  font-size: 40px;
  margin-top: 200px;
  line-height: 60px;
  font-weight: 500;
}

.intro p {
  font-size: 14px;
  width: 50%;
  color: rgb(215, 210, 210);
  word-spacing: 10px;
  font-weight: 100;
  padding: 10px;
}

.contact-btn {
  width: 150px;
  padding: 12px;
  font-size: 18px;
  margin: 100px 0px;
  font-family: Georgia;
  font-weight: 700;
  background: linear-gradient(
    to bottom,
    var(--html-color) 0%,
    var(--html-color) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: background-size 0.3s;
  outline: 2px solid var(--html-color);
}

.contact-btn:hover {
  background-size: 4px 50px;
}
.contact-btn a {
  color: white;
  text-decoration: none;
}

.contact-btn a:hover {
  color: white;
  text-decoration: none;
}

.intro img {
  height: 400px;
  width: 400px;
  margin: auto;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 100px);
  background: #262729;
  height: 100vh;
}
.about-section h1 {
  grid-row: 1/5;
  grid-column: 2/8;
  font-size: 140px;
  color: white;
}
.about-paras {
  grid-row: 3/7;
  grid-column: 3/11;
  font-size: 24px;
  padding: 40px;
  line-height: 50px;
  z-index: 1;
  color: white;
  outline: none;
  background-color: #262729;
  box-shadow: 1px 1px 10px 2px #030812;
  /* background-color: rgb(215, 209, 209); */
}
.about-section img {
  height: 400px;
  width: 400px;
  z-index: 1;
  grid-row: 4/-1;
  grid-column: 9/-1;
  z-index: 0;
}
.skills-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 100px);
  background: #262729;
  height: 100vh;
}
.skills-section h1 {
  grid-row: 1/2;
  grid-column: 10/11;
  font-size: 140px;
  color: white;
}

.skills-parags {
  color: white;
  font-size: 24px;
  grid-row: 3/4;
  grid-column: 4/9;
  /* background-color: red; */
  height: 200px;
  width: 800px;
}

.langs {
  grid-row: 4/6;
  grid-column: 4/6;
  height: 400px;
  width: 800px;
  line-height: 80px;
  color: white;
  outline: none;
  box-shadow: 1px 1px 10px 2px #030812;
  display: flex;
  justify-content: space-evenly;
}
.langs span {
  /* outline: 1px solid red; */
  margin: auto;
  font-size: 25px;
}
.work-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 100px);
  background: #262729;
  /* height: 100vh; */
  position: relative;
}

.work-section h1 {
  position: absolute;
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 100px;
  color: white;
  margin: 0px 50px;
}

.work-btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  grid-row: 2/4;
  grid-column: 1/4;
  position: relative;
  margin: 30px 0px;
}
.work-btns-container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  border-radius: 18%;
  height: 60px;
  width: 150px;
  color: white;
  background-color: red;
  margin: 0 100px;
}

.card {
  display: grid;
  grid-row: 3/-1;
  grid-column: 1/-1;
  cursor: pointer;
  flex-wrap: wrap;
  width: 99vw;
  /* min-height: 100vh; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 500px); */
  gap: 15px;
  margin: 0px 0px 0px 10px;
  background-color: red;
}

.card-content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 1s;
  transform-style: preserve-3d;
  font-family: 'Oswald', sans-serif;
}

.card:hover .card-content {
  transform: rotateY(0.5turn);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  /* hides the other side of the card */
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card-front {
  background-color: var(--clr);
  background-image: url(./images/test2.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card-front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card-title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}
.card-subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}

.card-body {
  transform: var(--level-two);
  font-weight: var(--fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.card-back {
  transform: rotateY(0.5turn);
  /* need to keep the background color to hide the other side of the card */
  background: #333;
  color: var(--clr);
}

/* end of flip card */

/* contact me section */
.contact-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 100px);
  background: #262729;
  height: 100vh;
  padding: 20px;
}

.contact-section h1 {
  grid-row: 1/3;
  grid-column: 8/-1;
  font-size: 140px;
  color: white;
}

form {
  width: 600px;
  padding: 10px 30px;
  height: 500px;
  grid-row: 3/4;
  grid-column: 5/10;
  /* outline: 1px solid white; */
}
input {
  width: 90%;
  /* margin: 20px 10px; */
}
textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 300px;
  /* margin: 0px 70px; */
  padding: 20px;
  width: 90%;
}

input,
textarea {
  outline: none;
  border: 1px solid #ddd;
  font-size: 20px;
  background: #262729;
  padding: 10px;
  color: white;
  margin: 20px;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
  border: 1px solid red;
}
button {
  outline: none;
}
li {
  list-style-type: none;
}

form button {
  color: white;
  padding: 20px;
  width: 140px;
  background: red;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.contact-section p {
  color: white;
  font-size: 20px;
  width: 400px;
  grid-row: 11/-1;
  grid-column: 5/-1;
}

/* footer */
footer {
  background: #191919;
  height: 14vh;
  width: 100vw;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
}
footer ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}
footer li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: blue; */
  width: 50px;
  height: 50px;
  margin-bottom: 60px;
}

footer p {
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50%;
  padding: 0;
  bottom: 40px;
  margin-left: 50px;
}

li img {
  height: auto;
  width: 50px;
}
/* icons start */
.git-icon {
  height: auto;
  width: 40px;
}
.insta-icon,
.facebook-icon,
.linkedIn-icon {
  height: auto;
  width: 33px;
}

.insta-icon:hover,
.facebook-icon:hover,
.linkedIn-icon:hover,
.git-icon:hover {
  transition: all 0.65s;
  transform: rotateY(360deg);
  background: var(--html-color);
}

/* icons end*/
.underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.underline:after {
  display: block;
  content: '';
  border-bottom: solid 5px var(--html-color);
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
  transform-origin: 100% 50%;
}
.underline:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

@keyframes stroke-rainbow {
  0% {
    border-color: var(--main-front-color);
    -webkit-text-stroke-color: var(--main-front-color);
  }
  25% {
    border-color: var(--second-front-color);
    -webkit-text-stroke-color: var(--second-front-color);
  }
  50% {
    border-color: var(--third-front-color);
    -webkit-text-stroke-color: var(--third-front-color);
  }
  75% {
    border-color: var(--second-front-color);
    -webkit-text-stroke-color: var(--second-front-color);
  }
  100% {
    border-color: var(--main-front-color);
    -webkit-text-stroke-color: var(--main-front-color);
  }
}

@keyframes text-rainbow {
  0% {
    color: var(--main-front-color);
  }
  25% {
    color: var(--second-front-color);
  }
  50% {
    color: var(--third-front-color);
  }
  75% {
    color: var(--second-front-color);
  }
  100% {
    color: var(--main-front-color);
  }
}
